

#form1{border:solid;
      border-color:black;
      background-color:#D2B48C;
     padding:5px;
     margin:5px;
     height:700px;
}

#container{align-content:center;}

div{

}
#footer{text-align:center;
         margin:50px;
      padding:50px;
}
#header {text-align:center;
         padding:5px;
         margin:10px;
}
#menu{text-align:center;
      margin:10px;
      padding:10px;
}

}
h1{font-size:30px;
   font-weight:bold;
   padding:5px;
   margin:10px;
}
h2{font-size:20px;
   font-weight:lighter;
   padding:5px;
   margin:10px;
}

#main {text-align:center;
       padding-left:40px;
       margin-left:100px;
        padding-right:40px;
       margin-right:40px;
       align-content:flex-end;
       margin-top:20px;
       
}

#HyperLink1{margin:5px;
            padding:5px;
}
#HyperLink2{margin:5px;
            padding:5px;
}
#HyperLink3{margin:5px;
            padding:5px;
}
.deleted{color:red;
         font-style:italic;
}
#DetailsView4{   margin-right:20px;
                 margin-left:226px;
}